@import 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');
.App {
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  /* background: #56CCF2!important; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.title{
  padding: 2rem;
  text-align: left;
}

.high{
  font-weight: 700;
  color: #0359c2;
}
.dropdown{
  width: fit-content;
  margin-right: 1rem;
  display: inline-block;
}
.search-area{
  text-align: left;
  padding-left: 2rem;
}
.search-area .btn-search{
  background: #133c5e;
  border: none;
}
.search-area .btn-search:hover{
  background: #fff;
  color: #133c5e;
  border: 1px solid #133c5e;
}
.dropdown button{
  background: #fff;
  color: #000;
  border: 1px solid #133c5e;
}
.dropdown button:hover{
  background: #133c5e;
  color: #fff;
  border: 1px solid #133c5e;
}
.card{
  height: 100% !important;
  border-radius: 10px !important;
  background: whitesmoke !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 6px; */
}
.card-list{
  font-family: 'Montserrat', sans-serif;
}
.card-list .col-md-4{
  margin-bottom: 2rem !important;
}
.card .card-body{
  text-align: left;
  padding: 0rem 1.25rem 1.25rem 1.25rem;
}
.card-header a{
  background: red !important;
  color: #fff !important;
  border-radius: 50%;
  margin: .2rem;
  padding: 0.5rem;
}
.trending{
  font-size: 1.5rem;
}
.fa-times{
  color: red;
}
.card .location{
  background: #0359c2;
  border-radius: 10px;
  color: #fff;
  margin: 1rem;
  display: inline-block;
  font-weight: 600;
  width: fit-content;
  padding: 0.5rem 1rem;
}
.desc{
  padding: 1rem 2rem;
  word-wrap: break-word;
}
.stash{
  cursor: pointer;
}

.stash-btn{
  background: crimson !important;
  border-radius: 10px !important;
  color: #fff;
  font-weight: 600 !important;
  width: 50%;
  margin:0.5rem;
  border: none !important;
}
.up-btn{
  background: #028EC0 !important;
  color: #fff !important;
  margin:0.5rem;
  border: none !important;
  width: 50%;
  font-weight: 600 !important;
  border-radius: 10px !important;
}
.card-footer{
  background: none !important; 
  border-top: none !important;
}
.card .card-header{
  border-bottom: none;
  text-align: center;
  background: none;
}
.card .card-header h2{
  width: fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
